<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <a href="{{ site.baseurl }}/">
        <div class="container align-items-center" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
          <div class="container">
            <span><img src="{{ site.baseurl }}/assets/img/nhc/safari-pinned-tab.svg" width="100" alt=""></span>
          </div>
          <div class="title">
            {{ site.title }}
          </div>
        </div>
      </a>
      <!--div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        <a href="{{ site.baseurl }}/" target="_blank">Created by Buphy</a>
      </div-->
    </div>
  </div>
</footer>